
<h1>things</h1>

<% @things.each do |@thing| %>

<div class="caixa" id='divcaixa'>
	<div class="caixaacima" id='divcaixaacima'> 
		<div class="caixaabaixo" id=<%="div#{@thing.id}"%> > 

			<%= render :partial => 'item', :locals =>{:thing => @thing} %>
	    
	  </div>
  </div>
</div>
<% end %>


<br />

<%= link_to 'New thing', new_thing_path %>